@media screen and (max-width: 950px) {
    nav p{
      display: none;
    }
    .fa-bars {
      display: block !important;
    }
  }

@media screen and (max-width: 1250px) {
    .box {
      width: 350px;
    }

    .right {
      justify-content: space-around;
  }
  }

@media screen and (max-width: 1100px) {
    .box {
      width: 380px;
    }

    .right {
      justify-content: center;
  }
  }

@media screen and (max-width: 720px) {
    .cards-container {
      flex-direction: column;
      justify-content: center;
      align-items: center;
  }
