.container {
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;
  }

.flex-container {
    margin-top: 33px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    
}

.fa-bars {
    display: none !important;
    font-size: 20px;
    color: #636060; 
}

.menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
            font-family: "Roboto", sans-serif;
            font-weight: 400;
            font-size: 17px;
            line-height: 19.55px;
            color: #636060; 
}

.menu p {
    padding: 0 50px;
    
}

.menu p:hover {
    color: blue;
    cursor: pointer;
}

/* .banner {
    background-image: url(../images/first.jpg);
    width: 100%;
    height: 100vh;
    margin-top: 18px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
}

h1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-top: 238px;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 79px;
    line-height: 90.84px;
    color: #FFFFFF;
}

p {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-top: 31px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 19px;
    line-height: 21.84px;
    color: #FFFFFF;
}

article {
    margin-top: 84px;
    margin-bottom: 140px;
}

.discover {
    margin-left: 100px;
    display: inline-block;
    margin-top: 84px;
}

h5 {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 17px;
    line-height: 19.55px;
    color: #636060;
}

h4 {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 23px;
    margin-top: 23px;
    line-height: 32.2px;
    color: #010101;
}

h3 {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    color: #636060;
    width: 235px;
}

.box1 {
    display: inline-block;
    margin-left: 83px;
}

.box2 {
    display: inline-block;
    margin-left: 33px;
}

.box3 {
    display: inline-block;
    margin-left: 33px;
}

.box4 {
    display: inline-block;
    margin-left: 418px;
    margin-top: 56px;
}

.box5 {
    display: inline-block;
    margin-left: 33px;
}

.box6 {
    display: inline-block;
    margin-left: 33px;
}
 */
